@model lookFantastic.Models.BeautySalon

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BeautySalon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.lon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.averagegrade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.averagegrade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numbergrades)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numbergrades)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
