@model IEnumerable<lookFantastic.Models.ClothingShops>

@{
    ViewBag.Title = "Index";

}

<html>
<head>
    <style>
        body {
            font-family: "Work Sanse",sans-serif;
        }

        .navlist {
            display: inline-flex;
            float: right;
            list-style: none;
            margin-right: 200px;
            text-align: center;
        }

            .navlist li {
                padding-right: 80px;
                padding-top: 7px;
                height: 100%;
            }

                .navlist li:hover {
                    background-color: #F7E3DE;
                    transition: .2s;
                }

                .navlist li a {
                    color: black;
                    text-decoration: none;
                }

        .nav {
            border-bottom: 1px solid black;
            border-top: 1px solid black;
            width: 100%;
            margin-top: 120px;
            background-color: white;
        }

        .shadow {
            width: 100%;
            height: 100%;
            position: fixed;
            background-color: black;
            top: 0;
            left: 0;
            z-index: 400;
        }

        .navbar {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            font-family: "Work sans",sans-serif;
            background-color: white;
            z-index: 10;
        }

        .submenu {
            position: absolute;
            margin-right: 15px;
            list-style: none;
            border: 1px solid #f7a193;
            display: none;
        }

        .line {
            border-top: 1px solid black;
            margin-top: 35px;
            background-color: white;
        }

        .loginLabel {
            float: right;
            margin-top: 45px;
            margin-right: 70px;
            font-size: 16px;
        }

        .container {
            position: relative;
            top: 100px;
        }

        .subList {
            list-style: none;
            display: inline-flex;
        }

        .barberList {
            position: relative;
            right: 150px;
            font-family: "Work Sans",sans-serif;
        }

        .listWrap {
            padding-top: 15px;
        }

            .listWrap:hover {
                background-color: #F7E3DE;
                transition: .2s;
            }

        .navbardef {
            z-index: 10;
        }

        .sort {
            margin-left: 400px;
            font-family: "Work Sans",sans-serif;
        }

        .column-left {
            float: right;
            right: 0;
        }

        .recommended {
            border: 1px solid black;
            width: 500px;
            height: 450px;
            border-radius: 12px;
            position: relative;
            left: 70px;
        }

        .imgR {
            text-align: center;
            margin-top: 50px;
        }

        .imgRec {
            width: 270px;
            height: 180px;
        }

        .name {
            text-align: center;
            font-family: "Work Sans",sans-serif;
        }

        .title {
            border-bottom: 1px solid black;
            text-align: center;
        }

        .review {
            text-align: center;
        }

        .promo {
            font-family: "Work Sans",sans-serif;
            height: 23px;
            text-align: center;
            background-color: #f7a193;
        }

        h5 {
            padding-top: 3px;
        }

        .contact {
            font-family: "Work Sans",sans-serif;
        }

        .on {
            display: normal;
        }

        .off {
            display: none;
        }

        .popup {
            background-color: white;
            position: absolute;
            border: 1px solid black;
            border-radius: 7px;
            width: 200px;
            height: 200px;
            z-index: 500;
            margin-top: 200px;
            margin-left: 1050px;
        }

        .app1 {
            border: 1px solid #f7a193;
            border-radius: 10px;
            width: 45%;
            height: 15%;
            text-align: center;
            position: relative;
            margin-left: 50px;
            margin-top: 20px;
        }

            .app1:hover {
                background-color: #F7E3DE;
            }

        .btn1 {
            background-color: #F7E3DE;
            border: 1px solid #f7a193;
            float: right;
        }
    </style>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

</head>
<body>
    <div class="bodyWrap">

        <div class=" navbar">
            <div class="navbardef">
                <div class="line">
                    <img style="width:180px;height:180px;position:absolute;top:15px;" src="~/logo_transparent.png" />
                    <div class="loginLabel">
                        <div>
                            <img style="width:20px;height:20px;position:absolute;right:170px;" src="https://www.pngitem.com/pimgs/m/150-1503941_user-windows-10-user-icon-png-transparent-png.png" />
                        </div>
                        <a style="text-decoration:none;color:black;" href="#">
                            My Account
                            <ul class="submenu">
                                <li>List 1</li>
                                <li>List 2</li>
                            </ul>
                        </a>
                    </div>
                </div>
                <div class="nav">
                    <ul class="navlist">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>
                            @Html.ActionLink("Hairdressers", "Index", "Hairdressers")
                            <ul id="sub" class="submenu">
                                <li>Male</li>
                                <li>Female</li>
                            </ul>
                        </li>
                        <li style="">@Html.ActionLink("Beauty Salons", "Index", "BeautySalons")</li>
                        <li>@Html.ActionLink("Clothing Shops", "Index", "ClothingShops")</li>
                        <li>@Html.ActionLink("Fitness Centers", "Index", "FitnessCentres")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="column-left">
                <div class="recommended">
                    <div class="title">
                        <h3>Recommended by our users</h3>
                    </div>
                    <div class="imgR">
                        <img class="imgRec" src="https://cms.qz.com/wp-content/uploads/2019/09/RTX6REQP-e1568226612202.jpg?quality=75&strip=all&w=1600&h=900&crop=1" />
                    </div>
                    <div class="name">
                        <h4>Ime</h4>
                    </div>
                    <div class="review">
                        <img style="width:30%" src="~/Screenshot_16.png" />
                    </div>
                    <div class="promo">
                        <h5 style="font-weight:600;">All t-shirts for 10$</h5>
                    </div>
                    <div class="contact">
                        <h5 style="padding-left:10px;padding-top:10px;">
                            Contact:
                            071/363-877
                        </h5>
                    </div>
                </div>
            </div>
            <div class="barberWrap">
                <div class="sort">
                    <h5>Sort by review</h5>
                </div>
                <ul style="list-style:none;" class="barberList">
                    @foreach (var item in Model)
                    {
                        <li>
                            <h5 style="margin-left: 550px; margin-top: 40px; position: absolute;">13,550 reviews</h5>
                            <a href="#">
                                <div class="listWrap" style="border-bottom:1px solid black;width:60%;">
                                    <ul class="subList">
                                        <li>
                                            <div class="imageDiv">
                                                <img style="width:80px;height:80px;border-radius:12px;position:relative;right:20px;padding-bottom:5px;" src="https://sc01.alicdn.com/kf/HTB1.oiGalDH8KJjSszcq6zDTFXag/202439437/HTB1.oiGalDH8KJjSszcq6zDTFXag.jpg" />
                                            </div>
                                        </li>
                                        <li>
                                            <ul style="list-style:none;position:relative;right:35px;">
                                                <li style="font-weight:bold">@item.name</li>
                                                <li><img style="width:30%;height:30%;" src="~/Screenshot_16.png" /></li>
                                                <li style="">@item.addr_street</li>
                                                <li style="font-size:12px;font-weight:300">Paris, France</li>
                                            </ul>
                                        <li />
                                    </ul>
                                </div>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
@section scripts
{
    <script>
        shadow = "<div class='shadow'></div>";
        popup = " <div class='popup'><button class='btn1'>X</button><div id='app' class='app1'><h6>10:00AM</h6></div ><div class='app1'><h6>13:30PM</h6></div><div class='app1'><h6>13:30PM</h6></div></div>"

        $(document).ready(function () {
            $(".acc").on("click", function (e) {
                e.preventDefault();
                $(shadow).prependTo("body").css({
                    "opacity": 0.4
                });
                $(popup).prependTo("body").css({
                });
                $(".btn1").on("click", function (e) {
                    e.preventDefault
                    $(".popup").remove();
                    $(".shadow").remove();
                });
            });
            // on
        }); // ready
    </script>
}