<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6ffeCx35VOiJOM8h_dMaWFORqHbgLxembNw&usqp=CAU" style="width:50px; margin-top:10px" />
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Clothes Stores", "Index", "ClothingShops")</li>
                    <li>@Html.ActionLink("Fitness Centres", "Index", "FitnessCentres")</li>
                    <li>@Html.ActionLink("Hairdressers", "Index", "Hairdressers")</li>
                    <li>@Html.ActionLink("Beauty Salons", "Index", "BeautySalons")</li>

              
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
